* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5EF;

}

html,
body {
    height: 100%;
    width: 100%;
}

.nav-bar {
    box-shadow: 1px 1px gray;

}

.nav-bar .nav-data {
    display: flex;
    justify-content: space-between;
    font-family: "Cutive", serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    padding: 0 48px;
}

.nav-bar .right {
    display: flex;

}

.nav-bar li {
    list-style: none;
    padding: 10px 25px;
    font-size: 23px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    color: gray;
}

.heading {
    padding: 10px;

}

.main-container {
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.main-container .title {
    padding-top: 105px;
}

/* .grid-project { 

    height: fit-content;
    background-color: #000;
    width: 100%;  
} */

/* .grid-img{
    padding: 2vw;
    height: auto;
    width: 100%;    
}
.img-content{
    height: 100%; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    gap: 10px;
justify-content: space-between;
}
.img-content img{
    width: 32%;
     border-radius: 10px; 
    margin-bottom: 20px;
} */
/* .intro {
    display: flexbox;
    height: 400px;
    width: 100%;
    text-align: center;
    justify-content: center;
} */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px;
}

/* .intro h2 {
    font-size: 48px;

} */

/* .project-high {
    display: flex;
    text-align: center;
    justify-content: center;

} */

.metric {
    padding: 20px;
    display: flex;
    height: 400px;
}

.im {
    font-size: 28px;
    width: 50%;
    font-family: "Cutive", serif;
}

.data {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.matric .cd {
    height: 50%;
    width: 50%;

}

.metric>h3 {
    margin-left: 2.5%;
}

.metric .num {
    font-size: 48px;
}

.metric .subline,.num {
    font-size: 20px;
    font-family: "Cutive", serif;
}

/* .container{
    height: auto;
    width: 100%;
    padding: 3vw;
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1vw;
    
    
  }

  
.row img{
    display: flex;
    flex-direction: column;
  }
   */

.container {
    height: fit-content;
    width: 100%;

}

.row {
    padding: 1vw 3vw;
    width: 100%;
    display: flex;
    gap: 3vw;
    justify-content: space-between
}

.card {
    width: 100%;
    height: 100%;
}

.card img {
    height: 100%;
    width: 100%;
}

.title-project {
    font-size: 20px;
    font-family: "Kumbh Sans", sans-serif;
}

.prj-description{
    font-family: "Kumbh Sans", sans-serif;
    color: #1D221B9E;
}
.intro-txt {
    font-weight: 400;
    font-size: 48px;
    font-family: "Cutive", serif;
}

.heading-table {
    margin-bottom: 2%;
    font-family: "Cutive", serif;
}

.pj-high {
    display: flex;
    gap: 25%;

}

.project-high {
    margin-left: 20%;
    margin-bottom: 5%;
}

.pj-high p{
    color: rgba(29, 34, 27, 0.62);
    font-family: "Cutive", serif;
}
.pj-high > h4{
    font-size: 1.5vw;
}
.review-container{
    height: auto;
    width: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    overflow-x: hidden;
    padding: 3vw;
    gap: 2.5vw;
    

}
.client-header{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Cutive", serif;
}
.review-box{
    height: 22vw;
    width: 24vw;
    /* background: #000; */
    border: 1px solid;
    border-radius: 16px;
    padding: 2vw;
    background-color: rgba(218, 218, 202, 0.4);
}
.review-container .top{
    display: flex;
    gap: 8px;
    align-items: center;
    background: transparent;
    /* background-color: rgba(218, 218, 202, 0.4); */


}
.review-container .top > img{
    width: 3.5vw;
    border-radius: 50%;
    

}
.review-container .top #nameo{
    
    background-color: rgba(218, 218, 202, 0.4);
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 1vw 3vw;
    margin-top: 4vw;

}
.foot > p{
    font-size: 30px;
    color: rgba(29, 34, 27, 0.62);
} 
.sbm{
    border-radius: 10px;
    width: 10vw;
    height: 4vw;
    font-size: 1.2vw;
    border: px solid rgba(23, 52, 9, 0.16);
}
.col > h4,p{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1vw;
}
